extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Heisenberg

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | "I teach chemestry in a high school, develop front-end technologies, JS, node, express, react in my spare time
            | and i like to cook. Please do not ask what."
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li Express
          li Node.js
          li React
          li HTML
          li CSS
          li Debugging
          li Restful API services
          li Cooking
          li Helping Jesse
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li Second phone: 
          li walter@JPWynneHighSchool.com
        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/walter-white/') LinkedIn
        a.button.expanded(href='https://github.com/Iqbal955') GitHub
        a.button.expanded(href='https://twitter.com/real_heisenberg') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  