extends layout

block content
  div.container
    h1= `Server Error`
    h2= `Error status code: ${err.status} - Server Error`
    p.error-p= `OOPS. It seem that: ${err.message}`


  img(src=`https://cdn.dribbble.com/users/2255771/screenshots/4909175/1212-01.jpg`)
  hr
  a.home(href=`/`) <b> I WANNA GO HOME PLEASE! </b>

  div.not-found-stack
      hr
      hr
  pre #{err.stack}
