extends layout

block content
  div.container
    h1= `Server Error`
    h2= `Error status code: ${err.status} - Server Error`
    p.error-p= `OOPS. It seem that: ${err.message}`


  img(src=`https://freefrontend.com/assets/img/500-error-page-html-templates/500-Error-Log-File.png`)
  hr
  a.home(href=`/`) <b> I WANNA GO HOME PLEASE! </b>

  div.not-found-stack
      hr
      hr
  pre #{err.stack}
